.header__img {
    width: 50vw;
    max-width: 300px;
    padding: 10px;
}

.header__h1 {
    margin: 20px auto 0;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.header__h2 {
    width: 80%;
    max-width: 400px;
    margin: 0 auto 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
}

@media screen and (min-height: 1024px) and (min-width: 768px) and (orientation: portrait) {
    .header__h1 {
        font-size: 24px;
    }

    .header__h2 {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 768px) and (orientation: landscape) {
    .header__h1 {
        font-size: 24px;
    }

    .header__h2 {
        font-size: 16px;
    }
}